src/HolidayReservationSystem/src/META-INF/wsdl/localhost_8080/PartnerReservationWebService/PartnerReservationWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://ws.session.ejb/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.session.ejb/">

<xs:element name="CarCategoryNotFoundException" type="tns:CarCategoryNotFoundException"/>

<xs:element name="CarNotFoundException" type="tns:CarNotFoundException"/>

<xs:element name="ModelNotFoundException" type="tns:ModelNotFoundException"/>

<xs:element name="OutletNotFoundException" type="tns:OutletNotFoundException"/>

<xs:element name="RentalReservationNotFoundException" type="tns:RentalReservationNotFoundException"/>

<xs:element name="deleteReservation" type="tns:deleteReservation"/>

<xs:element name="deleteReservationResponse" type="tns:deleteReservationResponse"/>

<xs:element name="retrieveAllRentalReservations" type="tns:retrieveAllRentalReservations"/>

<xs:element name="retrieveAllRentalReservationsResponse" type="tns:retrieveAllRentalReservationsResponse"/>

<xs:element name="retrieveRentalReservationByRentalReservationId" type="tns:retrieveRentalReservationByRentalReservationId"/>

<xs:element name="retrieveRentalReservationByRentalReservationIdResponse" type="tns:retrieveRentalReservationByRentalReservationIdResponse"/>

<xs:element name="searchCar" type="tns:searchCar"/>

<xs:element name="searchCarResponse" type="tns:searchCarResponse"/>

<xs:complexType name="deleteReservation">
<xs:sequence>
<xs:element name="arg0" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteReservationResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="RentalReservationNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveAllRentalReservations">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="retrieveAllRentalReservationsResponse">
<xs:sequence>
<xs:element name="return" type="tns:rentalReservation" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="rentalReservation">
<xs:sequence>
<xs:element name="endDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="isCancelled" type="xs:boolean" minOccurs="0"/>
<xs:element name="paid" type="xs:boolean" minOccurs="0"/>
<xs:element name="price" type="xs:decimal" minOccurs="0"/>
<xs:element name="rentalReservationId" type="xs:long" minOccurs="0"/>
<xs:element name="startDate" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveRentalReservationByRentalReservationId">
<xs:sequence>
<xs:element name="arg0" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveRentalReservationByRentalReservationIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:rentalReservation" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchCar">
<xs:sequence>
<xs:element name="arg0" type="xs:long" minOccurs="0"/>
<xs:element name="arg1" type="xs:long" minOccurs="0"/>
<xs:element name="arg2" type="xs:dateTime" minOccurs="0"/>
<xs:element name="arg3" type="xs:dateTime" minOccurs="0"/>
<xs:element name="arg4" type="xs:long" minOccurs="0"/>
<xs:element name="arg5" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchCarResponse">
<xs:sequence>
<xs:element name="return" type="tns:car" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="car">
<xs:sequence>
<xs:element name="carId" type="xs:long" minOccurs="0"/>
<xs:element name="colour" type="xs:string" minOccurs="0"/>
<xs:element name="isDisabled" type="xs:boolean" minOccurs="0"/>
<xs:element name="licensePlate" type="xs:string" minOccurs="0"/>
<xs:element name="onRental" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CarNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CarCategoryNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ModelNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="OutletNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>