src/HolidayReservationSystem/src/META-INF/wsdl/localhost_8080/PartnerReservationWebService/PartnerReservationWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="PartnerReservationWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/PartnerReservationWebService/PartnerReservationWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="searchCar">
<part name="parameters" element="tns:searchCar"/>
</message>
<message name="searchCarResponse">
<part name="parameters" element="tns:searchCarResponse"/>
</message>
<message name="CarNotFoundException">
<part name="fault" element="tns:CarNotFoundException"/>
</message>
<message name="CarCategoryNotFoundException">
<part name="fault" element="tns:CarCategoryNotFoundException"/>
</message>
<message name="ModelNotFoundException">
<part name="fault" element="tns:ModelNotFoundException"/>
</message>
<message name="OutletNotFoundException">
<part name="fault" element="tns:OutletNotFoundException"/>
</message>
<message name="retrieveRentalReservationByRentalReservationId">
<part name="parameters" element="tns:retrieveRentalReservationByRentalReservationId"/>
</message>
<message name="retrieveRentalReservationByRentalReservationIdResponse">
<part name="parameters" element="tns:retrieveRentalReservationByRentalReservationIdResponse"/>
</message>
<message name="RentalReservationNotFoundException">
<part name="fault" element="tns:RentalReservationNotFoundException"/>
</message>
<message name="deleteReservation">
<part name="parameters" element="tns:deleteReservation"/>
</message>
<message name="deleteReservationResponse">
<part name="parameters" element="tns:deleteReservationResponse"/>
</message>
<message name="retrieveAllRentalReservations">
<part name="parameters" element="tns:retrieveAllRentalReservations"/>
</message>
<message name="retrieveAllRentalReservationsResponse">
<part name="parameters" element="tns:retrieveAllRentalReservationsResponse"/>
</message>
<portType name="PartnerReservationWebService">
<operation name="searchCar">
<input wsam:Action="http://ws.session.ejb/PartnerReservationWebService/searchCarRequest" message="tns:searchCar"/>
<output wsam:Action="http://ws.session.ejb/PartnerReservationWebService/searchCarResponse" message="tns:searchCarResponse"/>
<fault message="tns:CarNotFoundException" name="CarNotFoundException" wsam:Action="http://ws.session.ejb/PartnerReservationWebService/searchCar/Fault/CarNotFoundException"/>
<fault message="tns:CarCategoryNotFoundException" name="CarCategoryNotFoundException" wsam:Action="http://ws.session.ejb/PartnerReservationWebService/searchCar/Fault/CarCategoryNotFoundException"/>
<fault message="tns:ModelNotFoundException" name="ModelNotFoundException" wsam:Action="http://ws.session.ejb/PartnerReservationWebService/searchCar/Fault/ModelNotFoundException"/>
<fault message="tns:OutletNotFoundException" name="OutletNotFoundException" wsam:Action="http://ws.session.ejb/PartnerReservationWebService/searchCar/Fault/OutletNotFoundException"/>
</operation>
<operation name="retrieveRentalReservationByRentalReservationId">
<input wsam:Action="http://ws.session.ejb/PartnerReservationWebService/retrieveRentalReservationByRentalReservationIdRequest" message="tns:retrieveRentalReservationByRentalReservationId"/>
<output wsam:Action="http://ws.session.ejb/PartnerReservationWebService/retrieveRentalReservationByRentalReservationIdResponse" message="tns:retrieveRentalReservationByRentalReservationIdResponse"/>
<fault message="tns:RentalReservationNotFoundException" name="RentalReservationNotFoundException" wsam:Action="http://ws.session.ejb/PartnerReservationWebService/retrieveRentalReservationByRentalReservationId/Fault/RentalReservationNotFoundException"/>
</operation>
<operation name="deleteReservation">
<input wsam:Action="http://ws.session.ejb/PartnerReservationWebService/deleteReservationRequest" message="tns:deleteReservation"/>
<output wsam:Action="http://ws.session.ejb/PartnerReservationWebService/deleteReservationResponse" message="tns:deleteReservationResponse"/>
<fault message="tns:RentalReservationNotFoundException" name="RentalReservationNotFoundException" wsam:Action="http://ws.session.ejb/PartnerReservationWebService/deleteReservation/Fault/RentalReservationNotFoundException"/>
</operation>
<operation name="retrieveAllRentalReservations">
<input wsam:Action="http://ws.session.ejb/PartnerReservationWebService/retrieveAllRentalReservationsRequest" message="tns:retrieveAllRentalReservations"/>
<output wsam:Action="http://ws.session.ejb/PartnerReservationWebService/retrieveAllRentalReservationsResponse" message="tns:retrieveAllRentalReservationsResponse"/>
</operation>
</portType>
<binding name="PartnerReservationWebServicePortBinding" type="tns:PartnerReservationWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="searchCar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CarNotFoundException">
<soap:fault name="CarNotFoundException" use="literal"/>
</fault>
<fault name="CarCategoryNotFoundException">
<soap:fault name="CarCategoryNotFoundException" use="literal"/>
</fault>
<fault name="ModelNotFoundException">
<soap:fault name="ModelNotFoundException" use="literal"/>
</fault>
<fault name="OutletNotFoundException">
<soap:fault name="OutletNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="retrieveRentalReservationByRentalReservationId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RentalReservationNotFoundException">
<soap:fault name="RentalReservationNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="deleteReservation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RentalReservationNotFoundException">
<soap:fault name="RentalReservationNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="retrieveAllRentalReservations">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="PartnerReservationWebService">
<port name="PartnerReservationWebServicePort" binding="tns:PartnerReservationWebServicePortBinding">
<soap:address location="http://localhost:8080/PartnerReservationWebService/PartnerReservationWebService"/>
</port>
</service>
</definitions>