src/HolidayReservationSystem/xml-resources/web-service-references/PartnerReservationWebService/wsdl/localhost_8080/PartnerReservationWebService/PartnerReservationWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="PartnerReservationWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/PartnerReservationWebService/PartnerReservationWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="retrieveOutletByOutletId">
<part name="parameters" element="tns:retrieveOutletByOutletId"/>
</message>
<message name="retrieveOutletByOutletIdResponse">
<part name="parameters" element="tns:retrieveOutletByOutletIdResponse"/>
</message>
<message name="OutletNotFoundException">
<part name="fault" element="tns:OutletNotFoundException"/>
</message>
<message name="searchCarByModel">
<part name="parameters" element="tns:searchCarByModel"/>
</message>
<message name="searchCarByModelResponse">
<part name="parameters" element="tns:searchCarByModelResponse"/>
</message>
<message name="NoAvailableRentalRateException">
<part name="fault" element="tns:NoAvailableRentalRateException"/>
</message>
<message name="CarCategoryNotFoundException">
<part name="fault" element="tns:CarCategoryNotFoundException"/>
</message>
<message name="ModelNotFoundException">
<part name="fault" element="tns:ModelNotFoundException"/>
</message>
<message name="retrieveRentalReservationByRentalReservationId">
<part name="parameters" element="tns:retrieveRentalReservationByRentalReservationId"/>
</message>
<message name="retrieveRentalReservationByRentalReservationIdResponse">
<part name="parameters" element="tns:retrieveRentalReservationByRentalReservationIdResponse"/>
</message>
<message name="RentalReservationNotFoundException">
<part name="fault" element="tns:RentalReservationNotFoundException"/>
</message>
<message name="retrieveCarCategoryByCarCategoryId">
<part name="parameters" element="tns:retrieveCarCategoryByCarCategoryId"/>
</message>
<message name="retrieveCarCategoryByCarCategoryIdResponse">
<part name="parameters" element="tns:retrieveCarCategoryByCarCategoryIdResponse"/>
</message>
<message name="calculateTotalRentalFee">
<part name="parameters" element="tns:calculateTotalRentalFee"/>
</message>
<message name="calculateTotalRentalFeeResponse">
<part name="parameters" element="tns:calculateTotalRentalFeeResponse"/>
</message>
<message name="retrieveModelByModelId">
<part name="parameters" element="tns:retrieveModelByModelId"/>
</message>
<message name="retrieveModelByModelIdResponse">
<part name="parameters" element="tns:retrieveModelByModelIdResponse"/>
</message>
<message name="retrieveAllRentalReservations">
<part name="parameters" element="tns:retrieveAllRentalReservations"/>
</message>
<message name="retrieveAllRentalReservationsResponse">
<part name="parameters" element="tns:retrieveAllRentalReservationsResponse"/>
</message>
<message name="cancelReservation">
<part name="parameters" element="tns:cancelReservation"/>
</message>
<message name="cancelReservationResponse">
<part name="parameters" element="tns:cancelReservationResponse"/>
</message>
<message name="createNewRentalReservation">
<part name="parameters" element="tns:createNewRentalReservation"/>
</message>
<message name="createNewRentalReservationResponse">
<part name="parameters" element="tns:createNewRentalReservationResponse"/>
</message>
<message name="CustomerNotFoundException">
<part name="fault" element="tns:CustomerNotFoundException"/>
</message>
<message name="InputDataValidationException">
<part name="fault" element="tns:InputDataValidationException"/>
</message>
<message name="UnknownPersistenceException">
<part name="fault" element="tns:UnknownPersistenceException"/>
</message>
<message name="searchCarByCategory">
<part name="parameters" element="tns:searchCarByCategory"/>
</message>
<message name="searchCarByCategoryResponse">
<part name="parameters" element="tns:searchCarByCategoryResponse"/>
</message>
<message name="createNewCustomer">
<part name="parameters" element="tns:createNewCustomer"/>
</message>
<message name="createNewCustomerResponse">
<part name="parameters" element="tns:createNewCustomerResponse"/>
</message>
<message name="PartnerNotFoundException">
<part name="fault" element="tns:PartnerNotFoundException"/>
</message>
<message name="retrievePartnerByPartnerId">
<part name="parameters" element="tns:retrievePartnerByPartnerId"/>
</message>
<message name="retrievePartnerByPartnerIdResponse">
<part name="parameters" element="tns:retrievePartnerByPartnerIdResponse"/>
</message>
<message name="createNewPartner">
<part name="parameters" element="tns:createNewPartner"/>
</message>
<message name="createNewPartnerResponse">
<part name="parameters" element="tns:createNewPartnerResponse"/>
</message>
<message name="PartnerNameExistException">
<part name="fault" element="tns:PartnerNameExistException"/>
</message>
<message name="partnerLogin">
<part name="parameters" element="tns:partnerLogin"/>
</message>
<message name="partnerLoginResponse">
<part name="parameters" element="tns:partnerLoginResponse"/>
</message>
<message name="InvalidLoginCredentialException">
<part name="fault" element="tns:InvalidLoginCredentialException"/>
</message>
<portType name="PartnerReservationWebService">
<operation name="retrieveOutletByOutletId">
<input wsam:Action="http://ws.session.ejb/PartnerReservationWebService/retrieveOutletByOutletIdRequest" message="tns:retrieveOutletByOutletId"/>
<output wsam:Action="http://ws.session.ejb/PartnerReservationWebService/retrieveOutletByOutletIdResponse" message="tns:retrieveOutletByOutletIdResponse"/>
<fault message="tns:OutletNotFoundException" name="OutletNotFoundException" wsam:Action="http://ws.session.ejb/PartnerReservationWebService/retrieveOutletByOutletId/Fault/OutletNotFoundException"/>
</operation>
<operation name="searchCarByModel">
<input wsam:Action="http://ws.session.ejb/PartnerReservationWebService/searchCarByModelRequest" message="tns:searchCarByModel"/>
<output wsam:Action="http://ws.session.ejb/PartnerReservationWebService/searchCarByModelResponse" message="tns:searchCarByModelResponse"/>
<fault message="tns:NoAvailableRentalRateException" name="NoAvailableRentalRateException" wsam:Action="http://ws.session.ejb/PartnerReservationWebService/searchCarByModel/Fault/NoAvailableRentalRateException"/>
<fault message="tns:CarCategoryNotFoundException" name="CarCategoryNotFoundException" wsam:Action="http://ws.session.ejb/PartnerReservationWebService/searchCarByModel/Fault/CarCategoryNotFoundException"/>
<fault message="tns:OutletNotFoundException" name="OutletNotFoundException" wsam:Action="http://ws.session.ejb/PartnerReservationWebService/searchCarByModel/Fault/OutletNotFoundException"/>
<fault message="tns:ModelNotFoundException" name="ModelNotFoundException" wsam:Action="http://ws.session.ejb/PartnerReservationWebService/searchCarByModel/Fault/ModelNotFoundException"/>
</operation>
<operation name="retrieveRentalReservationByRentalReservationId">
<input wsam:Action="http://ws.session.ejb/PartnerReservationWebService/retrieveRentalReservationByRentalReservationIdRequest" message="tns:retrieveRentalReservationByRentalReservationId"/>
<output wsam:Action="http://ws.session.ejb/PartnerReservationWebService/retrieveRentalReservationByRentalReservationIdResponse" message="tns:retrieveRentalReservationByRentalReservationIdResponse"/>
<fault message="tns:RentalReservationNotFoundException" name="RentalReservationNotFoundException" wsam:Action="http://ws.session.ejb/PartnerReservationWebService/retrieveRentalReservationByRentalReservationId/Fault/RentalReservationNotFoundException"/>
</operation>
<operation name="retrieveCarCategoryByCarCategoryId">
<input wsam:Action="http://ws.session.ejb/PartnerReservationWebService/retrieveCarCategoryByCarCategoryIdRequest" message="tns:retrieveCarCategoryByCarCategoryId"/>
<output wsam:Action="http://ws.session.ejb/PartnerReservationWebService/retrieveCarCategoryByCarCategoryIdResponse" message="tns:retrieveCarCategoryByCarCategoryIdResponse"/>
<fault message="tns:CarCategoryNotFoundException" name="CarCategoryNotFoundException" wsam:Action="http://ws.session.ejb/PartnerReservationWebService/retrieveCarCategoryByCarCategoryId/Fault/CarCategoryNotFoundException"/>
</operation>
<operation name="calculateTotalRentalFee">
<input wsam:Action="http://ws.session.ejb/PartnerReservationWebService/calculateTotalRentalFeeRequest" message="tns:calculateTotalRentalFee"/>
<output wsam:Action="http://ws.session.ejb/PartnerReservationWebService/calculateTotalRentalFeeResponse" message="tns:calculateTotalRentalFeeResponse"/>
<fault message="tns:CarCategoryNotFoundException" name="CarCategoryNotFoundException" wsam:Action="http://ws.session.ejb/PartnerReservationWebService/calculateTotalRentalFee/Fault/CarCategoryNotFoundException"/>
<fault message="tns:NoAvailableRentalRateException" name="NoAvailableRentalRateException" wsam:Action="http://ws.session.ejb/PartnerReservationWebService/calculateTotalRentalFee/Fault/NoAvailableRentalRateException"/>
</operation>
<operation name="retrieveModelByModelId">
<input wsam:Action="http://ws.session.ejb/PartnerReservationWebService/retrieveModelByModelIdRequest" message="tns:retrieveModelByModelId"/>
<output wsam:Action="http://ws.session.ejb/PartnerReservationWebService/retrieveModelByModelIdResponse" message="tns:retrieveModelByModelIdResponse"/>
<fault message="tns:ModelNotFoundException" name="ModelNotFoundException" wsam:Action="http://ws.session.ejb/PartnerReservationWebService/retrieveModelByModelId/Fault/ModelNotFoundException"/>
</operation>
<operation name="retrieveAllRentalReservations">
<input wsam:Action="http://ws.session.ejb/PartnerReservationWebService/retrieveAllRentalReservationsRequest" message="tns:retrieveAllRentalReservations"/>
<output wsam:Action="http://ws.session.ejb/PartnerReservationWebService/retrieveAllRentalReservationsResponse" message="tns:retrieveAllRentalReservationsResponse"/>
</operation>
<operation name="cancelReservation">
<input wsam:Action="http://ws.session.ejb/PartnerReservationWebService/cancelReservationRequest" message="tns:cancelReservation"/>
<output wsam:Action="http://ws.session.ejb/PartnerReservationWebService/cancelReservationResponse" message="tns:cancelReservationResponse"/>
<fault message="tns:RentalReservationNotFoundException" name="RentalReservationNotFoundException" wsam:Action="http://ws.session.ejb/PartnerReservationWebService/cancelReservation/Fault/RentalReservationNotFoundException"/>
</operation>
<operation name="createNewRentalReservation">
<input wsam:Action="http://ws.session.ejb/PartnerReservationWebService/createNewRentalReservationRequest" message="tns:createNewRentalReservation"/>
<output wsam:Action="http://ws.session.ejb/PartnerReservationWebService/createNewRentalReservationResponse" message="tns:createNewRentalReservationResponse"/>
<fault message="tns:OutletNotFoundException" name="OutletNotFoundException" wsam:Action="http://ws.session.ejb/PartnerReservationWebService/createNewRentalReservation/Fault/OutletNotFoundException"/>
<fault message="tns:CustomerNotFoundException" name="CustomerNotFoundException" wsam:Action="http://ws.session.ejb/PartnerReservationWebService/createNewRentalReservation/Fault/CustomerNotFoundException"/>
<fault message="tns:InputDataValidationException" name="InputDataValidationException" wsam:Action="http://ws.session.ejb/PartnerReservationWebService/createNewRentalReservation/Fault/InputDataValidationException"/>
<fault message="tns:UnknownPersistenceException" name="UnknownPersistenceException" wsam:Action="http://ws.session.ejb/PartnerReservationWebService/createNewRentalReservation/Fault/UnknownPersistenceException"/>
<fault message="tns:CarCategoryNotFoundException" name="CarCategoryNotFoundException" wsam:Action="http://ws.session.ejb/PartnerReservationWebService/createNewRentalReservation/Fault/CarCategoryNotFoundException"/>
<fault message="tns:ModelNotFoundException" name="ModelNotFoundException" wsam:Action="http://ws.session.ejb/PartnerReservationWebService/createNewRentalReservation/Fault/ModelNotFoundException"/>
</operation>
<operation name="searchCarByCategory">
<input wsam:Action="http://ws.session.ejb/PartnerReservationWebService/searchCarByCategoryRequest" message="tns:searchCarByCategory"/>
<output wsam:Action="http://ws.session.ejb/PartnerReservationWebService/searchCarByCategoryResponse" message="tns:searchCarByCategoryResponse"/>
<fault message="tns:NoAvailableRentalRateException" name="NoAvailableRentalRateException" wsam:Action="http://ws.session.ejb/PartnerReservationWebService/searchCarByCategory/Fault/NoAvailableRentalRateException"/>
<fault message="tns:CarCategoryNotFoundException" name="CarCategoryNotFoundException" wsam:Action="http://ws.session.ejb/PartnerReservationWebService/searchCarByCategory/Fault/CarCategoryNotFoundException"/>
<fault message="tns:OutletNotFoundException" name="OutletNotFoundException" wsam:Action="http://ws.session.ejb/PartnerReservationWebService/searchCarByCategory/Fault/OutletNotFoundException"/>
</operation>
<operation name="createNewCustomer">
<input wsam:Action="http://ws.session.ejb/PartnerReservationWebService/createNewCustomerRequest" message="tns:createNewCustomer"/>
<output wsam:Action="http://ws.session.ejb/PartnerReservationWebService/createNewCustomerResponse" message="tns:createNewCustomerResponse"/>
<fault message="tns:PartnerNotFoundException" name="PartnerNotFoundException" wsam:Action="http://ws.session.ejb/PartnerReservationWebService/createNewCustomer/Fault/PartnerNotFoundException"/>
<fault message="tns:UnknownPersistenceException" name="UnknownPersistenceException" wsam:Action="http://ws.session.ejb/PartnerReservationWebService/createNewCustomer/Fault/UnknownPersistenceException"/>
<fault message="tns:InputDataValidationException" name="InputDataValidationException" wsam:Action="http://ws.session.ejb/PartnerReservationWebService/createNewCustomer/Fault/InputDataValidationException"/>
</operation>
<operation name="retrievePartnerByPartnerId">
<input wsam:Action="http://ws.session.ejb/PartnerReservationWebService/retrievePartnerByPartnerIdRequest" message="tns:retrievePartnerByPartnerId"/>
<output wsam:Action="http://ws.session.ejb/PartnerReservationWebService/retrievePartnerByPartnerIdResponse" message="tns:retrievePartnerByPartnerIdResponse"/>
<fault message="tns:PartnerNotFoundException" name="PartnerNotFoundException" wsam:Action="http://ws.session.ejb/PartnerReservationWebService/retrievePartnerByPartnerId/Fault/PartnerNotFoundException"/>
</operation>
<operation name="createNewPartner">
<input wsam:Action="http://ws.session.ejb/PartnerReservationWebService/createNewPartnerRequest" message="tns:createNewPartner"/>
<output wsam:Action="http://ws.session.ejb/PartnerReservationWebService/createNewPartnerResponse" message="tns:createNewPartnerResponse"/>
<fault message="tns:PartnerNameExistException" name="PartnerNameExistException" wsam:Action="http://ws.session.ejb/PartnerReservationWebService/createNewPartner/Fault/PartnerNameExistException"/>
<fault message="tns:UnknownPersistenceException" name="UnknownPersistenceException" wsam:Action="http://ws.session.ejb/PartnerReservationWebService/createNewPartner/Fault/UnknownPersistenceException"/>
<fault message="tns:InputDataValidationException" name="InputDataValidationException" wsam:Action="http://ws.session.ejb/PartnerReservationWebService/createNewPartner/Fault/InputDataValidationException"/>
</operation>
<operation name="partnerLogin">
<input wsam:Action="http://ws.session.ejb/PartnerReservationWebService/partnerLoginRequest" message="tns:partnerLogin"/>
<output wsam:Action="http://ws.session.ejb/PartnerReservationWebService/partnerLoginResponse" message="tns:partnerLoginResponse"/>
<fault message="tns:InvalidLoginCredentialException" name="InvalidLoginCredentialException" wsam:Action="http://ws.session.ejb/PartnerReservationWebService/partnerLogin/Fault/InvalidLoginCredentialException"/>
</operation>
</portType>
<binding name="PartnerReservationWebServicePortBinding" type="tns:PartnerReservationWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="retrieveOutletByOutletId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="OutletNotFoundException">
<soap:fault name="OutletNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="searchCarByModel">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="NoAvailableRentalRateException">
<soap:fault name="NoAvailableRentalRateException" use="literal"/>
</fault>
<fault name="CarCategoryNotFoundException">
<soap:fault name="CarCategoryNotFoundException" use="literal"/>
</fault>
<fault name="OutletNotFoundException">
<soap:fault name="OutletNotFoundException" use="literal"/>
</fault>
<fault name="ModelNotFoundException">
<soap:fault name="ModelNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="retrieveRentalReservationByRentalReservationId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RentalReservationNotFoundException">
<soap:fault name="RentalReservationNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="retrieveCarCategoryByCarCategoryId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CarCategoryNotFoundException">
<soap:fault name="CarCategoryNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="calculateTotalRentalFee">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CarCategoryNotFoundException">
<soap:fault name="CarCategoryNotFoundException" use="literal"/>
</fault>
<fault name="NoAvailableRentalRateException">
<soap:fault name="NoAvailableRentalRateException" use="literal"/>
</fault>
</operation>
<operation name="retrieveModelByModelId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ModelNotFoundException">
<soap:fault name="ModelNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="retrieveAllRentalReservations">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cancelReservation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RentalReservationNotFoundException">
<soap:fault name="RentalReservationNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="createNewRentalReservation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="OutletNotFoundException">
<soap:fault name="OutletNotFoundException" use="literal"/>
</fault>
<fault name="CustomerNotFoundException">
<soap:fault name="CustomerNotFoundException" use="literal"/>
</fault>
<fault name="InputDataValidationException">
<soap:fault name="InputDataValidationException" use="literal"/>
</fault>
<fault name="UnknownPersistenceException">
<soap:fault name="UnknownPersistenceException" use="literal"/>
</fault>
<fault name="CarCategoryNotFoundException">
<soap:fault name="CarCategoryNotFoundException" use="literal"/>
</fault>
<fault name="ModelNotFoundException">
<soap:fault name="ModelNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="searchCarByCategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="NoAvailableRentalRateException">
<soap:fault name="NoAvailableRentalRateException" use="literal"/>
</fault>
<fault name="CarCategoryNotFoundException">
<soap:fault name="CarCategoryNotFoundException" use="literal"/>
</fault>
<fault name="OutletNotFoundException">
<soap:fault name="OutletNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="createNewCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PartnerNotFoundException">
<soap:fault name="PartnerNotFoundException" use="literal"/>
</fault>
<fault name="UnknownPersistenceException">
<soap:fault name="UnknownPersistenceException" use="literal"/>
</fault>
<fault name="InputDataValidationException">
<soap:fault name="InputDataValidationException" use="literal"/>
</fault>
</operation>
<operation name="retrievePartnerByPartnerId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PartnerNotFoundException">
<soap:fault name="PartnerNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="createNewPartner">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PartnerNameExistException">
<soap:fault name="PartnerNameExistException" use="literal"/>
</fault>
<fault name="UnknownPersistenceException">
<soap:fault name="UnknownPersistenceException" use="literal"/>
</fault>
<fault name="InputDataValidationException">
<soap:fault name="InputDataValidationException" use="literal"/>
</fault>
</operation>
<operation name="partnerLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginCredentialException">
<soap:fault name="InvalidLoginCredentialException" use="literal"/>
</fault>
</operation>
</binding>
<service name="PartnerReservationWebService">
<port name="PartnerReservationWebServicePort" binding="tns:PartnerReservationWebServicePortBinding">
<soap:address location="http://localhost:8080/PartnerReservationWebService/PartnerReservationWebService"/>
</port>
</service>
</definitions>